{% extends 'base.html' %}{% load static %} {% block stylesheet %}
<link rel="stylesheet" href="{% static 'style.css' %}" />
{% endblock %} {% block navbar %}
<div class="nav-links">
  {}
  <a class="nav-link" href="{% url 'register' %}">SignUp</a>
  <a class="nav-link" href="#">SignIn</a>
</div>

{% endblock %} {%block main%}
<div class="wrapper">
  <div class="title">Create your Portfolio in just three simple steps</div>

  <div class="steps">
    <div class="step">
      <span class="step-icon"> </span>
    </div>

    <div class="step">
      <span class="step-icon"> </span>
    </div>
    <div class="step">
      <span class="step-icon"> </span>
    </div>
  </div>
</div>
{% endblock %}
