@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --color: #00BDD6FF;
    --font: 'Poppins', sans-serif;
    --shadow : -4px 15px 36px 0px rgba(143,143,143,1);
}

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: var(--color);
    padding: 10pt;
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 20px;
    font-family: var(--font);
}

.header h1{
    margin-left: 15px;
    letter-spacing: 1.5px;
}

.nav-links {
    /* background-color: red; */
    width: 100%;
}

.nav-link {
   float: right;
    margin-right: 22px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    background-color: #323743FF;
    padding: 7px;
    border-radius: 8px;
    letter-spacing: 1.7px;
}

.title {
    color: #fff;
}

main{
    display: flex;
    /* width: 100%; */
    height: 92vh;
    align-items: center;
    justify-content: center;
    background: #323743FF;
}

.wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    /* height: 568px; */
    justify-content: center;
    flex-wrap: nowrap;
}



.form-container{
    display: flex;
    width: 70vw;
    height: 45.5vw;
    max-height: 70vh;
    max-width: 107.6vh;
    /* width: 40rem;
    height: 26rem; */
    outline: none;
    border-radius: 50px;
    background-color: #fff;
    /* box-shadow: 0px 20px 35px #171a1f, 0px 0px 2px #171a1f; */
    /* box-shadow: -8px 18px 27px 0px rgba(143,143,143,1); */
}

.form-container form{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: stretch;
    justify-content: space-evenly;
    flex-direction: column;
    /* gap: 20px; */
}

.form {
    display: none;
   
}

form h1{
    text-align: center;
    font-family: var(--font);
}

.form-input {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    gap : 10px;
}

.form-input input,select{
    width :70%;
    padding: 7px;
    outline: var(--color);
    border-radius: 4px;
    border: 1px solid rgba(139, 137, 137, 0.63)

}

/* hover */
.form-input input:hover ,select:hover {

    background: #FFFFFFFF;
    border-color: #6E7787FF;
  }
/* focused */
.form-input input:focused,select:focused {
  color: #BCC1CAFF;
  background:var(--color);
  border-color: var(--color);
}

.icon-container{
    display: flex;
    background-color: var(--color);
    width: 50%;
    border-radius: inherit;
    box-shadow: inherit;
    justify-content: center;
    align-items: center;
}

.side-icon{
    display: none;
}

.navigation{
    text-align: center;
}

.btn{
    /* width: 147px;
    height: 44px; */
    width: 6rem;
    height: 2.3rem;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFFFF;
    background: #00BDD6FF;
    opacity: 1;
    border: none;
    border-radius: 8px;
    /* box-shadow: var(--shadow); */
}

.btn a {
    text-decoration: none;
    color: #fff
}

/* Hover */
.btn:hover {
    color: #FFFFFFFF;
    background: #00A9C0FF;
  }
/* Pressed */
.button:hover:active {
    color: #FFFFFFFF;
    background: #0095A9FF;
}


#profile_photo::before {
    content: "Upload Photo";
}

#profile_photo::-webkit-file-upload-button{
    visibility: hidden;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {


    .form-container {
        flex-direction: column-reverse;
        align-items: center;
        height: 85vw;
        width: 55.5vw;
        max-width: 70vh;
        max-height: 107.6vh;
    }

    .icon-container {
        width: 25%;
        border-radius: 80%;
        position: relative;
        top: -10%;
    }

    /* .icon-container img {
        width: 20%;
    } */

    form h1 {
        font-size: 50px;
    }


    .form-container form {
        width: 100%;
    }

    .form {
        background-color: red;
        height: 100%;
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}